* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Solway", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.carousel {
  display: flex;
  width: 110%;
  height: 550px;
  align-items: center;
  margin-left: 170px;
}

.fondoBody {
  background-image: linear-gradient(to bottom, rgb(250, 250, 250), cyan);
}

header {
  background-color: rgb(250, 250, 250);
  display: flex;
}

.colorIcono {
  background-color: rgb(250, 250, 250);
}

footer {
  display: flex;
  flex-direction: column;
}
footer div {
  width: 100%;
}
footer div p {
  text-align: center;
  justify-content: center;
}

.seguinosEn {
  text-transform: uppercase;
  padding: 80px;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 100%;
  padding-top: 100px;
  justify-content: end;
}

header {
  background-color: #fafafa;
  display: flex;
}
header div {
  width: 50%;
}
header div a img {
  padding: 3px;
  width: 30%;
}

.navBar {
  display: flex;
  align-items: center;
  justify-items: right;
}

nav {
  width: 50%;
}

.navegacion {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .colorIcono {
    background-color: rgb(250, 250, 250);
    width: 70%;
  }
  .imagenes_finales_index {
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    width: 50%;
    height: 700px;
  }
  .parrafoInicio {
    width: 45%;
    font-size: x-large;
    text-align: center;
    margin: 100px;
    justify-content: center;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 100%;
    padding-top: 100px;
    width: 50%;
    justify-content: start;
  }
  .tiposDeTratamientos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    font-size: x-large;
    width: 100%;
    padding: 20%;
    line-height: 20px;
    font-style: italic;
  }
}
@media screen and (max-width: 479px) {
  .colorIcono {
    background-color: rgb(250, 250, 250);
    width: 100%;
  }
  .navegacion {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navegacion li a {
    flex-direction: row;
    padding: 1px;
    border-radius: 0%;
  }
  .imagenes_finales_index {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 700px;
  }
  .tiposDeTratamientos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    font-size: medium;
    width: 78%;
    padding: 20%;
    line-height: 20px;
    font-style: italic;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 100%;
    padding-top: 100px;
    width: 50%;
    justify-content: start;
  }
}
section {
  display: flex;
}

.parrafoInicio {
  display: flex;
  margin: 5%;
  font-size: x-large;
  text-align: center;
  padding: 1%;
}

.parrafoTurnos {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: large;
  font-variant-position: super;
  height: 10px;
  margin: 10%;
  width: 80%;
  padding: 4%;
}

.parrafoNosotros {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: large;
  text-align: center;
  align-content: center;
  flex-wrap: nowrap;
  padding: 20px;
}

.tiposDeTratamientos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: x-large;
  padding: 5%;
  line-height: 40px;
  font-style: italic;
}

h1 {
  text-align: center;
  padding: 50px;
}

.redes_sociales {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: flex-end;
  padding: 5%;
}

i {
  font-size: 50px;
}

.obras_sociales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colorIcono {
  background-color: rgb(250, 250, 250);
}

.requisitosTurnos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: large;
  justify-content: space-evenly;
  width: 100%;
  height: 350px;
  padding: 5%;
}

.imagenesTurnos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100px;
  padding: 10px;
  align-items: center;
}

.imagenesNosotros {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 10px;
  font-size: large;
  text-align: start;
}

.imagenes_finales_index {
  display: flexbox;
  align-items: center;
  justify-content: space-evenly;
  width: 1500px;
  height: 200px;
}

.contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: space-between;
  padding: 10px;
  width: 70%;
  height: 500px;
}

.asideContacto {
  display: grid;
  justify-items: flex-end;
  text-align: center;
  padding-top: 80px;
  grid-template-columns: 1030px;
  grid-template-rows: 300px;
}/*# sourceMappingURL=principal.css.map */