.fondoBody {
    background-image: linear-gradient(to bottom, rgb(250, 250, 250) , cyan);
    }
    header {
        background-color: rgb(250, 250, 250);
        display: flex;
    }
    .colorIcono {
        background-color: rgb(250, 250, 250);
    }

    