header {
    background-color: #fafafa;
    display: flex;

    div {
        width: 50%;

        a {

            img {
                padding: 3px;
                width: 30%;
            }
        }
    }
}