@media screen and (max-width: 768px) {

    .colorIcono {
        background-color: $primary;
        width: 70%;
    }

    .imagenes_finales_index {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
    }

    .parrafoInicio {
        width: 90%;
        justify-content: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 100%;
        padding-top: 100px;
        width: 50%;
        justify-content: start
    }

    .tiposDeTratamientos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        font-size: x-large;
        width: 100%;
        padding: 20%;
        line-height: 20px;
        font-style: italic
    }

    .parrafoInicio {
        text-align: left;
    }

    .imagenesNosotros {
        width: 10px;
        height: auto;
        margin-top: 5%;
    }

    .parrafoNosotros {
        width: 250px;
        height: auto;
    }

    .obras_sociales {
        width: 30%;
        height: auto;
        flex-direction: column;
        margin: 100px;
    }

    .parrafoTurnos {
        width: 30%;
        height: auto;
        text-justify: auto;
    }

    .requisitosTurnos {
        width: 30%;
        height: auto;
    }

}


@media screen and (max-width: 479px) {

    .colorIcono {
        background-color: $primary;
        width: 100%;
    }

    .navegacion {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navegacion li a {
        flex-direction: row;
        padding: 1px;
        border-radius: 0%;
    }

    .imagenes_finales_index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        height: 700px;
    }

    .tiposDeTratamientos {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        font-size: medium;
        width: 78%;
        padding: 20%;
        line-height: 20px;
        font-style: italic
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 100%;
        padding-top: 100px;
        width: 50%;
        justify-content: start
    }

    .seguinosEn {

        justify-items: center;

        p {
            text-align: center;
        }
    }

    section {
        flex-direction: column;

    }

    .asideContacto {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }

    .requisitosTurnos {
        width: 10%;
        height: auto;
    }

}