.contacto {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-between;
    padding: 10px;
    width: 70%;
    height: 500px;
}

.asideContacto {
    display: grid;
    justify-items: flex-end;
    text-align: center;
    padding-top: 80px;
    grid-template-columns: 1030px;
    grid-template-rows: 300px
}