.contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-between;
    padding: 10px;
    @include ancho (70%);
}

.asideContacto {
    display: flex;
    margin: 0 30px 0 30px;
    text-align: center;
    font-size: map-get($tamanoFuentes, larga);
}