.redes_sociales {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @include ancho (100%);
    justify-content: flex-end;
    padding: 5%;
}

i {
    font-size: 50px;
}

.obras_sociales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.colorIcono {
    background-color: $primary;
}