.requisitosTurnos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: large;
    justify-content: space-evenly;
    @include ancho (100%);
    height: 350px;
    padding: 5%;
}

.imagenesTurnos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @include ancho (100%);
    height: 100px;
    padding: 10px;
    align-items: center
}

.imagenesNosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 10px;
    font-size: large;
    text-align: start
}

.imagenes_finales_index {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include ancho (100%);
}

.coberturasImg {
    &:hover {
        background-color: grey;
        opacity: 0.6;
    }
}

.coberturasImg-yellow {
    &:hover {
        @extend .coberturasImg;
        background-color: yellow;
    }
}