.parrafoInicio {
    display: flex;
    margin: 5%;
    font-size: map-get($tamanoFuentes, extraLarga);
    text-align: center;
    padding: 1%;
}

.parrafoTurnos {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: map-get($tamanoFuentes, larga);
    margin: 10%;
    @include ancho (72%);
}


.parrafoNosotros {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: large;
    text-align: center;
    align-content: center;
    flex-wrap: nowrap;
    padding: 20px;
}

.tiposDeTratamientos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: map-get($tamanoFuentes, extraLarga);
    padding: 5%;
    line-height: 40px;
    font-style: italic
}